:root {
    --line-border-fill: #3498db;
    --line-border-empty: #7f8c8d; /* Lighter gray for dark mode */
    --background-color: #121212; /* Dark background for body */
    --text-color: #e0e0e0; /* Lighter text color */
    --button-bg: #333; /* Dark button background */
    --button-hover-bg: #0066cc; /* Button hover color */
    --progress-bg: #3498db; /* Progress bar fill color */
    --error-color: #e74c3c; /* Error state color */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Hide scrollbars */
}

.content-area {
    opacity: 0;
    visibility: hidden;
}

.loading-area {
    color: #cacaca;
    position: absolute;
    z-index: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 22px);
}

#progressBarloading {
    display: none; /* Initially hidden */
}

#loadingContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 90px;
    height: 14px;
    box-shadow: 0 3px 0 #fff;
    position: relative;
    clip-path: inset(-40px 0 -5px)
}

.loader:before {
    content: "";
    position: absolute;
    inset: auto calc(50% - 17px) 0;
    height: 50px;
    --g:no-repeat linear-gradient(#ccc 0 0);
    background: var(--g),var(--g),var(--g),var(--g);
    background-size: 16px 14px;
    animation:
    l7-1 2s infinite linear,
    l7-2 2s infinite linear;
}
@keyframes l7-1 {
    0%,
    100%  {background-position: 0 -50px,100% -50px}
    17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
    35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
    52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
    70%,
    98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
}
@keyframes l7-2 {
    0%,70% {transform:translate(0)}
    100%  {transform:translate(200%)}
}

.dpclogoload {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    position: fixed; /* Fixed position */
    bottom: 30px; /* Adjust as necessary */
    z-index: 20; /* Ensure it appears above other content */
    width: 100%; /* Ensure the div takes full width */
}

#navbar {
    background-color: #2c3e50;
    color: white;
    display: flex;
    padding: 15px;
    gap: 10px;
}

.navbar-button {
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 50%; /* Make the button circular */
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    font-size: 1.5em; /* Adjust size as needed */
}

.navbar-button:disabled {
    background-color: #7f8c8d; /* Gray color for disabled state */
    cursor: not-allowed;
    opacity: 0.6; /* Makes the button look disabled */
}

.navbar-button:disabled svg {
    fill: #ffffff; /* Change icon color if needed */
}

.navbar-button:hover {
    background-color: var(--button-hover-bg); /* Darken color on hover */
    z-index: 99; 
}

#blocklyContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 10vh); /* Adjust height to accommodate navbar and status bar */
}

#blocklyDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Styles for the upload-popup container */
.popup {
    display: none; /* Hide initially */
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999; /* Ensure it overlays other content */
    overflow: auto;
}

/* Styles for the upload-popup content */
.popup-content {
    background-color: #333;
    color: #fefefe;
    margin: 15% auto; /* Center the upload-popup vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Max width for larger screens */
    max-height: 80%; /* Ensure content does not overflow the screen */
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.3s ease; /* Fade-in animation */
    position: relative; /* Ensure the close button can be positioned relative to this */
}

/* Position the close button to the top right corner */
.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Fade-out animation */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: 99; /* Change z-index to 1 or higher */
}

.progress {
    background-color: var(--progress-bg);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: 101;
    transition: 0.4s ease;
}

.progress.error {
    background-color: var(--error-color); /* Set to red color for error state */
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
    z-index: 101;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.circle.error {
    border-color: var(--error-color); /* Optionally, change border color to red */
    color: white; /* Optionally, adjust text color for visibility */
}

.libimageicon {
    width: 20px;
    height: 20px;
}
.libimage {
    width: 100px;
    height: 100px;
}
.library-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.libimage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}
.library-details {
    flex: 1;
    line-height: 5px;
}
.library-details-cv {
    color: #7a7a7a;
    font-size: 15px;
}

.library-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #7f8c8d; /* Lighter border */
}
.library-item.selected {
    background-color: #34495e; /* Darker background for selected items */
}
.library-content {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    max-height: 720px; /* Ensure a max height for scrolling */
}
.library-item:hover {
    background-color: #7f8c8d; /* Hover effect for items */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.btn-invisible {
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.swipe-text {
    font-size: 14px;
    color: #ccc;
}

.pointer-pointer {
    cursor: pointer;
}
